@orange: #FA4A0C;
@light: #F6F6F6;
@white: #FFFFFF;
@black: #252B42;


.monts{
  font-family: Montserrat;
  font-style: normal;
}
.pop{
  font-family: Poppins;
  font-style: normal;
}






body{
  margin: 0;
}
.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left {
  width: 17.08%;
  height: auto;
  margin-left: 5%;
  margin-top: 26px;
  margin-bottom: 26px;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: 3.3%;
  right: 2.78%;
  margin-left: 35%;
  margin-top: 53px;
}
.right a {
  text-decoration: none;
}
.hreffs {
  margin: 0 5.4%;
  .monts;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  text-align: center;
  letter-spacing: 0.2px;
  color: @black;
}
.hreffs1 {
  margin: 0 5.4%;
  .monts;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  text-align: center;
  letter-spacing: 0.2px;
  color: @orange;
}
header {
  width: 100%;
  height: 50%;
  background-image: url("img/headerbg.png");
  background-size:cover;
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 15%;
}
footer {
  width: 100%;
  height: 50%;
  background-image: url("img/footerbg.png");
  background-size:cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-bottom: 12%;
}
.textcontent {
  margin-left: 15.11%;
  width: 85%;
  height: 22.64%;
}
.p1 {
  .monts;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.1px;
  color: @light;
}
.p2 {
  .pop;
  font-weight: bold;
  font-size: 58px;
  line-height: 80px;
  /* or 138% */
  text-align: center;
  letter-spacing: 0.2px;
  color: @white;
}
.p4 {
  .pop;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  /* or 138% */
  text-align: center;
  letter-spacing: 0.2px;
  color: @white;
}
.p3{
  .monts;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height, or 158% */
  text-align: center;
  letter-spacing: 0.2px;
  color: @light;
}
.buttons{
  width: 35%;
  padding-left: 10%;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons .button1{
  display: flex;
  width: 46%;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  background: @orange;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  border-radius: 50px;
  margin-right: 7%;
}
.buttons .button2{
  display: flex;
  width: 46%;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  border: 1px solid @white;
  box-sizing: border-box;
  border-radius: 50px;}
.buttons p{
  .monts;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: 0.1px;
  /* Light text */
  color: @white;
}
.phones{
  position: relative;
  width: 38%;
  margin-top: -13%;
  left: 30%;
}
.title{
  .pop;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: @black;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 6%;
}
.htaw{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 54px;
}
.htaw2{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 163px;
}
.lefthtaw{
  width: 20%;
  height: 87%;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
  margin-left: 17%;
  margin-top: 5%;
}
.righthtaw{
  width: 39.4%;
  margin-left: 12%;
  margin-top: 16%;
}
.righthtaw p, .righthtaw1 p{
  margin: 0 0 2% 0;
}
.r1{
  .monts;
  font-weight: bold;
  font-size: 110%;
  color: @orange;
  letter-spacing: 0.1px;
}
.r2{
  .monts;
  font-weight: bold;
  //font-size: 40px;
  font-size: 175%;
  line-height: 120%;
  color: @black;
  letter-spacing: 0.2px;

}
.r3{
  .monts;
  font-weight: 500;
  font-size: 110%;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
}
.lefthtaw1{
  width: 20%;
  height: 87%;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
  margin-left: 12%;
  margin-top: 5%;
}
.righthtaw1{
  width: 39.4%;
  margin-left: 17%;
  margin-top: 16%;
}
@media screen and (max-width: 600px) {
  .htaw {
    flex-direction: column;
    align-items: center;

  }
  .lefthtaw{
    width: 72%;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    margin-top: 5%;
  }
  .r1{
    .monts;
    font-weight: bold;
    font-size: 110%;
    color: @orange;
    letter-spacing: 0.1px;
    text-align: center;
  }
  .r2{
    .monts;
    font-weight: bold;
    //font-size: 40px;
    font-size: 175%;
    line-height: 120%;
    color: @black;
    letter-spacing: 0.2px;
    text-align: center;
  }
  .r3{
    .monts;
    font-weight: 500;
    font-size: 110%;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #737373;
    text-align: center;
  }
  .righthtaw{
    width: 75%;
    margin-top: 15%;
    align-items: center;
  }
  .title{
    .pop;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: @black;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 6%;
  }
  header {
    background: none;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 15%;
  }
  .p1 {
    .monts;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
  }
  .p2 {
    .pop;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    /* or 138% */
    text-align: center;
    letter-spacing: 0.2px;
    color: @black;
  }
  .p4 {
    .pop;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    /* or 138% */
    text-align: center;
    letter-spacing: 0.2px;
    color: @white;
  }
  .p3{
    .monts;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height, or 158% */
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .buttons{
    width: 56%;
    margin-left: 22%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons .button1{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: @orange;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 50px;
    margin-bottom: 20px;
  }
  .buttons .button2{
    display: flex;
    width: 100%;;
    flex-direction: column;
    align-items: center;
    border: 1px solid @orange;
    box-sizing: border-box;
    border-radius: 50px;}
  .button1 p{
    .monts;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    text-align: center;
    color: @white;
  }
  .button2 p{
    .monts;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    /* Light text */
    color: @orange;
  }
  .phones{
    position: relative;
    width: 90%;
    margin-top: 13%;
    left: 5%;
  }
  .lefthtaw1{
    width: 72%;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    margin-top: 5%;
  }
  .righthtaw1{
    width: 75%;
    margin-top: 15%;
    align-items: center;
  }
  .htaw2{
    flex-direction: column;
    align-items: center;
  }

footer {
  width: 100%;
  height: 50%;
  background-image: none;
  background-color: #252B42;
  padding-top: 10%;
  padding-bottom: 12%;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  margin-left: 10%;
  margin-top: 30px;
}
.hreffs {
  margin: 0 5%;
  .monts;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 175% */
  text-align: center;
  letter-spacing: 0.2px;
  color: @black;
}
.hreffs1 {
  margin: 0 2%;
  .monts;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 175% */
  text-align: center;
  letter-spacing: 0.2px;
  color: @orange;
}
}
